#chat-box,
#game-box {
	display: none;
}
.waiting-player {
	margin: 5px;
}
#message-box {
	position: fixed;
	right: 20px;
	top: 20px;
	font-weight: bold;
}
#challenge-msg-box,
#waiting-msg-box {
	display: none;
	position: fixed;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
}
#challenge-msg-box .panel,
#waiting-msg-box .panel {
	background-color: lightgrey;
}
#name,
#win,
#lose,
#game-played {
	margin-right: 10px;
}
#my-choice {
	display: none;
}
#name {
	font-size: larger;
	font-weight: bold;
}

/*.vcenter {*/
	/*display: inline-block;*/
	/*vertical-align: middle;*/
	/*float: none;*/
	/**/
/*}*/